<div class="alert alert-dark" role="alert">
  <p class="display-6 text-secondary text-center">Recurso no encontrado !!</p>
  <p class="text-secondary">La ruta '{{{ruta}}}' con el metodo '{{{metodo}}}' no
    se encuentra implementada</p>
</div>