<p class="text-end"><a href="/signup" role="button">Signup</a></p>
<div class="p-2 bg-light rounded">
  <p class="display-6 text-primary">Login de Usuario</p>
  <p>
    <form action="/login" method="post">
      <div class="mb-3">
        <label class="form-label">Su nombre de usuario:</label>
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="ej: juanperez@servidor.com"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Ingrese su contraseña:</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="[Palabra secreta sin espacios]"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </p>
</div>