<div class="p-2 bg-light rounded">
  <p class="display-6 text-primary">Login de Usuario</p>
  <p>
    <form action="/login" method="post">
      <div class="mb-3">
        <label class="form-label">Ingrese su nombre:</label>
        <input
          type="text"
          class="form-control"
          name="nombre"
          placeholder="Ingrese su nombre"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </p>
</div>