<div class="alert alert-primary fs-3" role="alert">
  Hasta luego
  {{{userName}}}
</div>
<p class="fw-light">Serás direccionado en 2 segundos...</p>
<script type="text/javascript">
  setTimeout(function() { window.location.replace('./login') }, 2000)
</script>