<div class="alert alert-success fs-3" role="alert">
  Nuevo usuario registrado
</div>
<p class="fw-light">Serás direccionado al login en 5 segundos...</p>
<script type="text/javascript">
  setTimeout(function() { window.location.replace('./login') }, 5000)
</script>